
body {
    font-family: 'Amatic SC';
    font-size: 35px;
    background-image: url(img/burger-photography-tips-styling.jpg);
    background-repeat: repeat;
    background-size: contain;

}

.container {
    background-color: whitesmoke;
}
.jumbotron {

    
    background-image: url(https://media.giphy.com/media/55bM8mirLn2zC/giphy.gif);
    background-repeat: repeat;
    background-size: contain;
    opacity: 0.8;
    margin-bottom: 2%;
    padding-bottom: 5%;

}
.jumbotron h3 {
   
    font-size: 100px;
    color:red;
    text-align: center;
    text-transform: lowercase;
    font-weight: bolder;
    font-style: oblique;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 1;
   
}
th, tr, td {

    padding: 10px 25px;
 
}
tr:nth-child(odd) {
    background-color: rgb(121, 65, 65);
}
 th {
    text-align: center;
    background-color: white;
    color: black;
    padding: 30px; 
}