
body {
    font-family: 'Amatic SC';
    font-size: 35px;
    background-image: url(../img/movies.jpg);
    background-repeat: repeat;
    background-size: contain;

}

.container {
    background-color: rgb(197, 187, 187);
    
}
.jumbotron {

    
    background-image: url(https://media.giphy.com/media/55bM8mirLn2zC/giphy.gif);
    background-repeat: repeat;
    background-size: contain;
    opacity: 0.8;
    margin-bottom: 0;
    padding-bottom: 7%;
    padding-top: 7%;
  

}
div.title h3{
   
    font-size: 100px;
    color:black;
    text-align: center;
    text-transform: lowercase;
    font-weight: bolder;
    font-family: 'Amatic SC';
    margin-bottom: 2%;
    margin-top: 0;
    background-color: black;
    background-image: url(../img/title.jpg);
    background-repeat: repeat;
    background-size: 18%;
    padding-top: 2%;
    padding-bottom: 2%;
    
   
}
th, tr, td {

    padding: 10px 25px;
 
}
tr:nth-child(odd) {
    background-color: whitesmoke;
    
}
tr:nth-child(even) {
    background-color: black;
    color: whitesmoke;
}
 th {
    text-align: center;
    
    background-color: rgb(29, 29, 65);
    color: white;
    padding: 35px; 
}